<table border="2px">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th>Mobile No</th>
  </tr>
  <tr *ngFor="let emp of empl">
    <td>{{emp.name}}</td>
    <td>{{emp.email}}</td>
    <td>{{emp.mobile}}</td>
  </tr>
</table>