

<form [formGroup]="angForm" (ngSubmit)="onSubmit()">
  <div class="form-group">
    <label>Name:</label>
    <input class="form-control" formControlName="name" type="text" required id="name">
  </div>
  <div *ngIf="angForm.controls['name'].invalid && (angForm.controls['name'].dirty || angForm.controls['name'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['name'].errors.required">
      Name is required.
    </div>
    <div *ngIf="angForm.controls['name'].invalid">
      Value has to be in alphabets.
    </div>
  </div>

  <div class="form-group">
    <label>Email:</label>
    <input class="form-control" formControlName="email" type="email" id="email">
  </div>
  <div
    *ngIf="angForm.controls['email'].invalid && (angForm.controls['email'].dirty || angForm.controls['email'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['email'].errors.required">
      email is required.
    </div>
    <div *ngIf="angForm.controls['email'].errors.email">Email must be a valid email address</div>
  </div>
  <div class="form-group">
    <label>Mobile No:</label>
    <input class="form-control" formControlName="mobile" type="text" required id="mobile">
  </div>
  <div
    *ngIf="angForm.controls['mobile'].invalid && (angForm.controls['mobile'].dirty || angForm.controls['mobile'].touched)"
    class="alert alert-danger">
    <div *ngIf="angForm.controls['mobile'].errors.required">
      contact is required.
    </div>
    <div *ngIf="angForm.controls['mobile'].invalid">
      Value has to be a 10 digit number.
    </div>
  </div>
  <button type="submit" (click)="postProfile()">Submit</button>
</form>